.navbar-dark{
    background-color: var(--col-theme-glass-navbar) !important;
    color: var(--col-theme-text);
    min-height: 56px;

    .navbar-nav .nav-link{
        color: var(--col-theme-text) !important;
        cursor: pointer;

        &.active {
            background-color: var(--col-theme-accent);
            border-radius: 0.25rem;
        }
    }
}

.card{
    backdrop-filter: var(--var-glass-filter);
    -webkit-backdrop-filter: var(--var-glass-filter);
    background-color: var(--col-theme-glass);
    will-change: transform;
    transform: translateZ(0);
    font-weight: 400;
    color: var(--col-theme-text);
    border: none;
    transition: background-color ease var(--var-animation-duration) 0s, color ease var(--var-animation-duration) 0s;
    pointer-events: auto;
}

.container-fluid{
    --bs-gutter-x: .15rem;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
}

.card-body{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    padding: 0.5rem;
}

.form-control {
    color: var(--col-theme-text);
    background-color: var(--col-theme-accent);
    border: none;
    outline: 0;
    box-shadow: none;

    &:focus {
        color: var(--col-theme-text);
        background-color: var(--col-theme-accent);
        border: none;
        outline: 0;
        box-shadow: none;
    }

    &::placeholder {
        color: var(--col-theme-text-t);
    }

    &:disabled {
        background-color: var(--col-theme-accent);
        opacity: 0.5;
    }
}

.btn{
    color: white;
}