:root{
    --var-background-brightness: 0.85;
    --col-theme-text: rgb(255,255,255);
    --col-theme-text-t: rgba(255, 255, 255, 0.4);
    --col-theme-glass-navbar: rgba(33, 37, 41, 0.578);
    --col-theme-accent: rgba(0, 0, 0, 0.25);
    --var-glass-filter: blur(4rem);
    --col-theme-glass: rgba(33, 37, 41, 0.578);

    --col-panel-separator: rgba(255, 255, 255, 0.25);
}